In [1]:
import sys
import os
import pandas as pd

sys.path.append(os.path.abspath("../src"))

In [2]:
df = pd.read_csv("../data/reviews_cleaned.csv")

In [3]:
from task_1.preprocess import clean_reviews
df = clean_reviews(df)

In [4]:
from task_2.keywords import extract_top_keywords

top_keywords_df = extract_top_keywords(df, column='review', top_n=30)
top_keywords_df

        keyword      score
0           app  86.154624
1          good  45.770907
2          best  39.312229
3          bank  28.318160
4           use  25.030642
5       banking  22.903996
6          easy  22.881236
7          nice  22.613012
8          fast  21.299602
9        dashen  20.270547
10         like  19.848595
11  application  19.080130
12      amazing  18.550103
13       mobile  17.864310
14        super  17.795703
15         work  16.903733
16        great  16.428088
17      working  14.877636
18          wow  12.984696
19          cbe  11.927070
20          boa  11.387783
21         user  10.954042
22          bad  10.806396
23        worst  10.559517
24        doesn  10.266610
25         slow   9.924313
26    excellent   9.698924
27         love   9.492113
28         time   9.311894
29   experience   9.100309